/* Navbar styles */
nav {
    background-color: #333;
    padding: 15px;
    display: flex;
    justify-content:space-around;
    position: fixed;
    top: 0;
    left: 0;
    
    width: 98%;
   
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 30;
}

.nav-link {
    margin-right: 20px;
}

.nav-link a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s ease;
}

.nav-link a:hover {
    color: #67c5ff;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none; /* Hide the navbar links on smaller screens */
        flex-direction: column; /* Stack the links vertically */
        position: absolute;
        top: 60px;
        left: 0;
        width: 98%;
        background-color: #333;
        padding: 30px;
    }

    .nav-link {
        margin: 10px 0;
    }

    .hamburger {
        display: block; /* Show the hamburger icon on smaller screens */
        cursor: pointer;
    }
}