
.resumes .resume {
    display: grid;
    background-color: #8aa863;
    border-radius: 30px;
    padding: 20%;
    box-shadow: 0 2% 8% rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    
  }
 
  .resumes .resume:hover {
    transform: scale(1.05);
  }
  

  .hi{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f6f1f1;
    margin-top: 5%;
    color: black;
    /* padding: 2%; */
    overflow: hidden;
    width: 120%;
    text-align: left !important;
    overflow: scroll;
    size: fit-content;
}
.hi #resumeHeaderId{
    text-align: center;
}
@page {
  size: A4 landscape;
}